#Fri Oct 11 10:51:22 BST 2019
mail.smtp.toEmail=provarsupport@makepositive.com
mail.smtp.ssl.enable=false
mail.smtp.other.port=
mail.smtp.starttls.required=false
mail.smtp.host=smtp.gmail.com
mail.smtp.timeout=60000
mail.smtp.starttls.enable=false
mail.smtp.port=587
mail.smtp.username=krs140691@gmail.com
mail.smtp.password=8605506914
mail.smtp.other.host=
